@media ( max-width: 1024px ){
    .logo {
        display: none;
    } 
    .mother-box {
        flex-direction: column;
    }
    .image {
        max-width: 900px;
        width: 95%;
    }
        .image-div {
        max-width: 1024px;
        margin: 0 auto;
    }
    .elastic-div {
        margin: 0 auto;
    }
    .section {
        margin-top: 400px;
    }
    .burger-bar {
        display: none;
    }
    .nav-div {
        width: 95%;
    }
}
@media (max-width: 1024px) {
    .footer-logo-div {
        display: none;
    }
    .child-box {
        flex-wrap: wrap;
    }
    .last-box {
        height: 150px;
        background-color: #37393F;
    }
}
@media (max-width: 767px) {
    .navigation {
        display: none;
    }
    .botton-div {
        display: none;
    }
    .burger-bar {
        display: flex;
        cursor: pointer;
    }
    .burger-div {
        max-width: 767px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo1 {
        display: flex;
    }
    .for-input {
        flex-direction: column;
        margin: 0px;
    }
    .input-div {
        margin: 0 auto;
    }
    .input-div {
        margin-bottom: 15px;
        justify-content: center;

    }
    .zoom {
        width: 767px;
    }
    .last-box {
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 895px) {
    .footer-box {
        margin: 0 auto;
        margin-top: 20px;
    }
}