@media ( max-width: 1024px ){
    .logo {
        display: none;
    } 
    .mother-box {
        flex-direction: column;
    }
    .image {
        max-width: 900px;
        width: 95%;
    }
        .image-div {
        max-width: 1024px;
        margin: 0 auto;
    }
    .elastic-div {
        margin: 0 auto;
    }
    .section {
        margin-top: 400px;
    }
}
@media (max-width: 1024px) {
    .footer-logo-div {
        display: none;
    }
    .child-box {
        flex-wrap: wrap;
    }
    .last-box {
        height: 150px;
        background-color: #37393F;
    }
}